*,
::before,
*::after {
	box-sizing: border-box;
	user-select: none;
	font-family: 'Google Sans Display';
}

p {
	font-family: 'Google Sans';
}

body {
	background-color: #000;
	color: #fff;
}

.center {
	display: grid;
	place-content: center;
	place-items: center;
	width: 100%;
	height: 100vh;
}
